.qty {
  display: flex;
  width: 190px;
  justify-content: space-between;
  font-size: 24px;
  border: 1px solid #B6B6B6;
}

.minus,
.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
}