<div class="rating rating_set">
  <div class="rating__body">
    <div class="rating__active"></div>
    <div class="rating__items">
      <input class="rating__item" type="radio" name="rating" value="1">
      <input class="rating__item" type="radio" name="rating" value="2">
      <input class="rating__item" type="radio" name="rating" value="3">
      <input class="rating__item" type="radio" name="rating" value="4">
      <input class="rating__item" type="radio" name="rating" value="5">
    </div>
  </div>
  <div class="rating__value"></div>
</div>